<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment="frm_create2">

    <div id="modalCreateProduct" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Product information</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="modal-alert-danger hide"></div>
                    <form id="frmProduct" enctype="multipart/form-data">
                        <fieldset class="row g-3">
                            <div class="mb-3 col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-12 col-form-label">Name</label>
                                    <div class="col-sm-12">
                                        <input type="text" id="pName" name="pName" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-12 col-form-label">Description</label>
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" id="description" name="description" />
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-12 col-form-label">Image</label>
                                    <div class="col-sm-12">
                                        <input type="file" class="form-control num-space" id="pImage" name="pImage" accept="image/png, image/jpeg" />
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-12 col-form-label">Thumbnail</label>
                                    <div class="col-sm-12">
                                        <img id="thumbnail" alt="Image Preview" style="max-width: 150px; max-height: 150px;" />
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="btnSave" class="btn btn-outline-success">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>

</th:block>
